.homepage .static_frame {
  width: 100%;
  height: 236px;
  background: #2c261e;
}

.homepage .personage_img_left {
  width: 204px;
  height: 200px;
  background: url("/public/home/pappay.png");
  background-size: cover;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.homepage .personage_img_right {
  width: 204px;
  height: 200px;
  background: url("/public/home/pappay.png");
  background-size: cover;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.homepage .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.static_box .static_num {
  font-family: "Poppins";
  font-size: 54px;
  font-weight: 600;
  line-height: 81px;
  text-align: center;
  color: #ffffff;
}

.static_box .static_text {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #e3c08d;
}

/* TOP RESTAURANT START */

.homepage .top_restaurant_frame{
   width: 100%;
   height: 605px;
   display: flex;
   background: #0b0e11;

}

.homepage .category_title{
   font-family: "Roboto";
font-size: 36px;
font-weight: 700;
line-height: 42px;
text-align: left;
color: #E3C08D;
}

/* BEST RESTAURANT START */


.homepage .best_restaurant_frame{
  width: 100%;
  height: 775px;
  display: flex;
  background: #0b0e11;
}